@charset "UTF-8";

@font-face {
    font-family: 'font';
    src: url(chinese\ rocks\ rg.otf);
}

body{
    background-color: rgb(255, 246, 210);
    font-family: 'font';
}

h1{
    margin-bottom: 5px;
    text-align: center;
}

header{
    background-color: chocolate;
    height: 80px;
}

nav{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    width: 500px;
    text-align: center;
    margin:auto;
    height: 10px;
   
}

a{
    margin-left: 20px;
    margin-right: 20px;
}

main{
    background-color: chocolate;
    height: 300px;

}

section{
    width: 500px;
    margin: auto;
}

h2{
    margin-top: 42px;
    outline: 300px;
    padding-top: 20px;
}

article{
    background-color: white;
    padding: 20px;
    padding-top: 5px;
}
aside{
    background-color: rgb(104, 104, 104);
}
footer{
    background-color: white;
    text-align: center;
    margin-top: 15px;
    padding: 20px;
}
